@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    font-family: 'Varela Round', sans-serif;
    color: rgb(31 41 55);
}

a:not(.nounderline) {
    text-decoration: underline !important;
    color: #2525aa !important;
}

#main {
    max-width: 1100px;
    margin: auto;
}

.text-base {
    font-size: 16px !important;
}

.institution {
    font-size: 10px !important;
    font-weight: 300;
    color: grey !important;
}